[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
pyjwt = "*"
auth0-python = {editable = true, path = "."}

[dev-dependencies]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pyupgrade = "*"
aioresponses = "*"
callee = "*"
coverage = "*"
mock = "*"
pytest = "*"
responses = "*"
cryptography = "*"
sphinx = "*"
sphinx-mdinclude = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
