# Management API dependencies
httpx>=0.21.2
pydantic>=1.9.2
pydantic-core>=2.18.2
typing_extensions>=4.0.0

# Authentication API dependencies
aiohttp>=3.10.11
cryptography>=43.0.1
pyjwt>=2.8.0
requests>=2.32.3
urllib3>=2.2.3
