# Management API dependencies
httpx>=0.21.2
pydantic>=1.9.2
pydantic-core>=2.18.2
typing_extensions>=4.0.0

# Authentication API dependencies
aiohttp>=3.11.18
cryptography>=44.0.0
pyjwt>=2.8.0
requests>=2.32.3
urllib3>=2.3.0
