-e .
-r docs/requirements.txt
aiohttp
aioresponses
black
callee
click
coverage
cryptography
flake8
isort
mock
pre-commit
pyjwt
pytest
pytest-mock
pyupgrade
requests
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
